*{
    box-sizing: border-box;
  }
  
  ul,
  ol,
  li {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  .gallery {
    width: 1440px;
    height: 696px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 24px;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 0 auto;
  }